body{

}

h4{
	text-align: center;
	border: solid black 1px ;
	background-color: black;
	height: 25px;
	color: white;
font-family : 'Roboto' , sans-serif;
}


.btn btn-default btn-xs{
	border-radius: 100%;
	padding: 10%;
}


.bar {
	background-color: black;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: left; 
	width: 85px;
	border: solid black 1px;
	float: left;
	font-family : 'Roboto' , sans-serif;

}

.n{
	background-color: yellow;
	width: 75px;
	height: 3px;
	align-items: center;
}
button{
	text-align: center;
}

.discount{
	text-align: center;
}
.price{
	text-align: center;
}
.caption{
	text-align: center;
}
.joe{
	background-color: black;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: left; 
	width: 95px;
	border: solid black 1px;
	float: left;
	font-family : 'Roboto' , sans-serif;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    width: 290px;
}
.button1{

	width : 50 px;
height : 50 px;
outline : none;
border : none;
margin : 1 vh .5 vw 1 vh 0 ;
background-color : #ECECEC ;
border-radius : 50 %;
padding: 10%;
}

.add-to-cart{
	background-color: black;
	color: white;
	align-items: center;
	text-align: center;
}